{% extends 'base.html'%}
{% block content%}

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned big header">Sign Up</h1>
            <div style="margin: 50px;">
            <div style="text-align:center;">
            <form method="POST" action="">
            <from style = "input is-large">
            
                {{ form.hidden_tag() }}
                {{ form.username }}
   
                {{ form.password }}
    
                {{ form.submit }}
            </div>
            </div>
        </div>  
        <a class="ui blue button" href="{{url_for('login')}}">Already have an account? Log in!!</a>
    </div>
    
</body>
{% endblock %}